$black: 		    #373737;
$darkGrey:          #AAAAAA;
$lightGrey:         #E0E0E0;
$blue:              #26588B;
$lightBlue:         #E3F0F7;
$green:             #3CB550;
$red:               #EF3D3D;

$smallMargin:       5px;
$standardMargin:    10px;
$bigMargin:         20px;
$doubleMargin:      40px;

$headerMinHeight:   90px;